@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Manrope', sans-serif;
  height: 100%;
  width: 100%;
}

.nav-item-active {
  color: white;
  background: #1e3a8a;
}

.nav-item:hover {
  background-color: #F4F7FF;
}
