@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Manrope', sans-serif;
  height: 100%;
  width: 100%;
}

.nav-item-active {
  color: white;
  background: #1e3a8a;
}

.nav-item:hover {
  background-color: #F4F7FF;
}

.transaction-summary-visible {
  opacity: 1;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.transaction-summary-hide {
  opacity: 0;
  visibility: hidden;
  right: -100px;
  transition: all 0.3s ease-in-out;
}
